footer {
    position: relative;
}

footer .footer {
    margin-top: 40px;
}

footer .footer .copyright {
    margin-top: 20px;
    margin-bottom: 40px;
}

footer .footer .follow-me a {
    font-size: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: #000;
}