.navbar {
  background-color: #fff;
}

.navbar .navbar-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 216px;
}

.navbar .navbar-brand h1 {
  font-size: 2rem;
  font-weight: 400;
}

.scrolled .navbar .navbar-brand h1 {
  color: #fff;
}

.scrolled .navbar {
  background-color: rgba(0, 0, 0, 0.5);
}

.scrolled .navbar .nav-link {
  color: #fff;
}

.navbar .navbar-toggler {
  border: 1px solid black;
}

.scrolled .navbar .navbar-toggler {
  border: 1px solid white;
}

.navbar .navbar-toggler svg {
  color: #000;
}

.scrolled .navbar .navbar-toggler svg {
  color: #fff;
}

@media (max-width: 768px) {
  .navbar .navbar-brand {
    width: 180px;
  }

  .navbar .navbar-brand h1 {
    font-size: calc(1.325rem + 0.9vw);
  }
}
