#about .about-section h2 {
    margin-bottom: 32px !important;
}

#about .about-section h4 {
    margin-top: 38px !important;
    margin-bottom: 10px !important;
}

#about .about-section .reach-me {
    margin: 24px 0 !important;
}