#home {
    align-items: center;
    margin-top: 0;
    height: 100vh;
}

#home p {
    margin-bottom: 16px !important;
}

#home .shortcut li {
    margin-bottom: 5px;
}

#home .shortcut li a i {
    margin-right: 10px;
}

#home .shortcut li a {
    color: #000;
}

#home .shortcut li a i.bi-tools {
    color: black;
}

#home .shortcut li a i.bi-collection {
    color: purple;
}

#home .shortcut li a i.bi-search {
    color: blue;
}

#home .shortcut li a i.bi-briefcase {
    color: brown;
}

@media (max-width:768px) {
    #home {
        height: auto;
        margin-top: 100px;
    }

    .side-card {
        display: none;
    }
}