#home {
    align-items: center;
    /* margin-top: 0; */
    height: auto;
    padding: 1% 0;
}

#home p {
    margin-bottom: 16px !important;
}

#home .shortcut li {
    margin-bottom: 5px;
}

#home .shortcut li a i {
    margin-right: 10px;
}

#home .shortcut li a {
    color: #000;
}

#home .shortcut li a i.bi-tools {
    color: black;
}

#home .shortcut li a i.bi-collection {
    color: purple;
}

#home .shortcut li a i.bi-search {
    color: blue;
}

#home .shortcut li a i.bi-briefcase {
    color: brown;
}

@media (max-width:768px) {
    #home {
        margin-top: 100px;
    }

    .side-card {
        display: none;
    }
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    100% {
        transform: rotate(0.0deg)
    }
}