#home {
    height: 100vh;
    display: flex;
    align-items: center;
}

#home p {
    margin-bottom: 16px !important;
}

@media (max-width:768px) {
    #home {
        height: auto;
        margin: 20px 0;
    }
}