@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


.resume-box .heading {
    border-bottom: 2px solid black;
    padding: 10px 0;
    /* font-weight: 600; */
    margin-bottom: 10px !important;
}

.resume-box ul {
    padding-left: 2rem !important;
    list-style: disc !important;
}

.resume-box .title {
    text-align: center;
    margin: 20px 0;
}

.resume-box .title h1 {
    margin-bottom: 10px !important;
}

.resume-box .title p a {
    text-decoration: none;
}


.resume-box .work .experience-box .company-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.resume-box .work .experience-box .role {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resume-box .work .experience-box .role h5 {
    font-size: 18px;
}


.resume-box .skills .skill-box p {
    font-weight: 600;
}

.resume-box .skills .skill-box span {
    font-weight: 300;
}

.resume-box .education .education-box .institute-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resume-box .education .education-box .standard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resume-box .education .education-box .standard h5 {
    font-size: 18px;
}